body {
	color: white;
  background-color: #A7A7A7;
	font-family: Verdana,Arial,Helvetica, sans-serif;
	font-size:normal;
}

.maintable {
	background-color: #ffffff;
}

.subtitle {
	color: #000000;
  background-color : #FDDB2B;
	font-size: 10pt;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.maintitle {
	font-size: 12pt;
	font-weight : bold;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
	color: Black;
  background-color : #FDDB2B;
}

.celllabel {
	color: White;
	background-color: #303030;
	font-size: 8pt;
	font-weight : normal;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.cellvalue {
	color: White;
	background-color: #666666;
	font-size: 8pt;
	font-weight : bold;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.cellalt {
	color: White;
	background-color: #666666;
	font-size: 8pt;
	font-weight : normal;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.detailsbg {
	background-color: #A7A7A7;
}

.link {
  color: #ffffff;
  text-decoration: underline;
}

a.link:hover {
  color: #FDDB2B;
  text-decoration: underline;
}

.imagestrip {
	color: #000000;
	background-color: #666666;
}

.imagestrip a {
  text-decoration: none;
}

.navigation {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navlink {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: inline;
	color: White;
	font-size: 8pt;
	font-weight : bold;
}

.navlink a {
	color: White;
	font-size: 8pt;
	font-weight : bold;
}

